.futa{
    border: 10px solid black;
    background-color: lightcoral;
    width: 500px;
    margin: 20px;
    box-shadow: 20px 20px 5px grey;
}

.header{
    height: 500px;
    background-color: lightgreen;
    background-image: url("/img/two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}